$light-gray: #eceef1;
$gray: darken(#eceef1, 30%);
$slate: darken(#eceef1, 70%);
$turquoise: #1abc9c;
.cards {
    padding: 15px;
    display: flex;
    flex-flow: row wrap;
}

//Cards
.card {
    margin: 15px;
    background: blue;
    color: white;
    width: calc((100% / 3) - 30px);
    transition: all 0.2s ease-in-out;
    //media queries for stacking cards
    @media screen and (max-width: 991px) {
        width: calc((100% / 2) - 30px);
    }
    @media screen and (max-width: 767px) {
        width: 100%;
    }
    &.card-secondary {
        background-color: goldenrod;
        color: black;
    }
    &:hover {
        .card__inner {
            background-color: $turquoise;
            transform: scale(1.05);
        }
    }
    &__inner {
        padding: 30px;
        position: relative;
        cursor: pointer;
        background-color: $gray;
        color: $light-gray;
        font-size: 1.5em;
        text-transform: uppercase;
        text-align: center;
        transition: all 0.2s ease-in-out;
        &:after {
            transition: all 0.3s ease-in-out;
        }
    }
}